@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dangrek", sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    align-items: center; /* Alinhar verticalmente */
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: white;
}

.logo {
    margin-right: auto; /* Empurrar o logotipo para a esquerda */
}

nav ul {
    display: flex; /* Mostrar itens do menu em linha */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}


.headerFormatacao
{
    font-size: 28px;

}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.buttonC {
    color: rgb(255, 255, 255);
    background: black;
    border: solid 1px #ffffff;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
}

.full-width-image {
    background-image: url('../IMG/pretoAmarelo.jpg'); /* Substitua 'caminho_para_sua_imagem.jpg' pelo caminho da sua imagem */
    background-size: cover; /* Garante que a imagem cubra todo o elemento */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    width: 100%; /* Largura total */
    height: 8px; /* Altura mínima */
}

.imagem{
    align-items: center;
}

.texto{
    margin: 20px;
}

.customizacao{
    background-color: rgb(250, 250, 83, 0.5);
    padding: 10px;
    border-radius: 20px;
}

p{
    font-size: 25px;
    text-align: justify;
}